 @import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

 :root{
    --cor-texto: #000000; preto;
    --cor-fundo:#D1E9F6;Azul claro;
    --cor-secundaria:#F1D3CE; pastel;
    --font:"Lobster", sans-serif;";
 }
 body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--font);
 }
